@charset "UTF-8";

/* Definição de Fontes */
@font-face {
  font-family: "Unbounded";
  src: url("../fonts/Unbounded-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

/* Cores e Fontes */
:root {
  --roxo-destaque: #9747ff;
  --roxo-hover: #8233e8;
  --offwhite: #ffffff;
  --grafite: #232323;
  --fundo-dark: #0e1014;
  --fundo-light: #f5f5f5;
  --font-primary: "Unbounded", sans-serif;
  --font-secoundary: "Poppins", sans-serif;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
}

/* Estilo Desktop */
html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--fundo-dark);
  color: var(--offwhite);
}

header img {
  display: block;
  margin: 75px 0 0 360px;
}

h1 {
  font-size: 64px;
  font-family: var(--font-primary);
  text-align: center;
  margin-top: 60px;
}

h1 span {
  color: var(--roxo-destaque);
}

p {
  display: block;
  font-size: 24px;
  font-family: var(--font-secoundary);
  font-weight: 100;
  font-style: normal;
  color: var(--offwhite);
  text-align: center;
  margin: 24px auto;
  width: 792px;
}

a {
  background-color: var(--roxo-destaque);
  color: var(--offwhite);
  font-family: var(--font-secoundary);
  font-size: 24px;
  text-decoration: none;
  width: 340px;
  height: 66px;
  display: block;
  text-align: center;
  line-height: 66px;
  border-radius: 36px;
  margin: 40px auto;
}

a:hover {
  background-color: var(--roxo-hover);
}

section img {
  display: block;
  width: 792px;
  height: 446px;
  margin: 0 auto;
}

/* Estilo Tablet */
@media (max-width: 768px) {
  header img {
    margin: 65px 0 0 60px;
  }

  p {
    width: 648px;
  }
}

@media (max-width: 375px) {
  header img {
    margin: 32px 0 0 16px;
  }

  h1 {
    font-size: 40px;
  }

  p {
    font-size: 20px;
    width: 340px;
  }

  a {
    font-size: 20px;
    width: 251px;
  }

  section img {
    width: 341px;
    height: 230px;
  }
}
